@import "tailwindcss";
@import "tw-animate-css";
@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --breakpoint-sphone: 320px;
  --breakpoint-mphone: 375px;
  --breakpoint-lphone: 425px;
  --breakpoint-tablet: 640px;
  --breakpoint-ltablet: 768px;
  --breakpoint-laptop: 1024px;
}

@layer base {
  :root {
    --background: #ffffff;
    --reverse-background: #090d1f;
    --foreground: #1a1a1a;
    --muted-foreground: #667085;
    --date-foreground: #6941c6;

    --hover-bg: #e0e7ff;
    --active-bg: #c7d2fe;
  }

  .dark {
    --background: #090d1f;
    --reverse-background: #ffffff;
    --foreground: #ffffff;
    --muted-foreground: #c0c5d0;
    --date-foreground: #7152ba;

    --hover-bg: #312e81;
    --active-bg: #3730a3;
  }

  body {
    @apply bg-background text-foreground;
  }

  * {
    @apply box-border;
  }
}

@layer components {
  .post-card {
    @apply flex flex-col justify-center gap-5 hover:scale-[0.98] transition-transform duration-200 ease-in-out;
  }
}

.ProseMirror:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.w-md-editor-toolbar {
  background-color: #ffffff !important; /* light mode */
}

.dark .w-md-editor-toolbar {
  background-color: #090d1f !important; /* dark mode */
}

textarea::placeholder {
  color: #9ca3af; /* Tailwind's gray-400 */
}
