@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --breakpoint-sphone: 320px;
  --breakpoint-mphone: 375px;
  --breakpoint-lphone: 425px;
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
    --muted-foreground: #667085;
    --date-foreground: #6941c6;

    --hover-bg: #f2f2f5;
    --active-bg: #e4e4eb;
  }

  .dark {
    --background: #090d1f;
    --foreground: #ffffff;
    --muted-foreground: #c0c5d0;
    --date-foreground: #7152ba;

    --hover-bg: #1c2135;
    --active-bg: #2a2f44;
  }

  body {
    @apply bg-background text-foreground;
  }

  * {
    @apply box-border;
  }
}
