@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
    --muted-foreground: #667085;
    --date-foreground: #6941c6;

    --hover-bg: #f2f2f5;
    --active-bg: #e4e4eb;
  }

  .dark {
    --background: #090d1f;
    --foreground: #ffffff;
    --muted-foreground: #c0c5d0;
    --date-foreground: #7152ba;

    --hover-bg: #1c2135;
    --active-bg: #2a2f44;
  }

  body {
    @apply bg-background text-foreground;
  }
}
